
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$animation: .3s ease;
$card-shadow: 0 5px 10px rgba(0,0,0,.1);
$btn-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
$btn-shadow-hover: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #F44336;;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #8BC34A;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-gray: #999;
$gray: #777;

// Colors active
$blue-active: #33a4ff;