@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello/fontello.eot?96075274');
  src: url('/fonts/fontello/fontello.eot?96075274#iefix') format('embedded-opentype'),
       url('/fonts/fontello/fontello.woff2?96075274') format('woff2'),
       url('/fonts/fontello/fontello.woff?96075274') format('woff'),
       url('/fonts/fontello/fontello.ttf?96075274') format('truetype'),
       url('/fonts/fontello/fontello.svg?96075274#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/fonts/fontello/fontello.svg?96075274#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-camera-alt:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-videocam:before { content: '\e805'; } /* '' */
.icon-video:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-music:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-heart:before { content: '\e80b'; } /* '' */
.icon-heart-empty:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-linkedin-squared:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-star-empty:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-trash-empty:before { content: '\e812'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus-1:before { content: '\f0d5'; } /* '' */
.icon-linkedin-1:before { content: '\f0e1'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pinterest-1:before { content: '\f231'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-fort-awesome:before { content: '\f286'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */